* {
	padding: 0px;
	margin: 0px;
	border: none;
  box-sizing: border-box;
}

h1 {
  margin: 0;
  padding: 0;
  color: #FFF;
  font-family: Magra;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  white-space: pre;
}

h2 {
  color: #FFF;
  font-family: Aleo;
  font-size: 80px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

h3 {
  color: #F2785C;
  font-family: Red Hat Text;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

li  {  
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none; 
}

header {
  background: rgba(242, 120, 92, 0.70);
  box-shadow: 0px 4px 4px 0px rgba(13, 96, 111, 0.50);
  width: 100%;
  opacity: 70%;
}

.header_wrapper{
  margin: 0 auto;
  max-width: 1440px;
  background: url(../Travel/assets/images/HeaderBG.png);
  background-position: center top;
  background-repeat: no-repeat;
}

.header_flex {
  padding: 25px 120px 25px;
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.logo {
  display: flex;
}

.logo img {
  margin-right: 6px;
}

.header_navigation {
  width: 527px;
  margin-top: 10px;
  justify-content: space-between;  
}

.header_navigation_list {
  display: flex;
  justify-content: space-between;  
}

.header_navigation_link {
  color: #FFF;
  font-family: Red Hat Text;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.header_buton {
  color: #FFF;
  font-family: Red Hat Text;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  max-width: 103px;
  padding: 10px 30px;
  border-radius: 10px;
  background: #0D606F;
  box-shadow: 0px 2px 3px 0px rgba(13, 96, 111, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.preview {
  margin: 0 auto;
  max-width: 1440px;
  background: url(../Travel/assets/images/HeaderBG.png);
  background-position: center -91px;
  background-repeat: no-repeat;
}

.preview_wrapper {
  padding: 32px 428px 221px 120px;
}

.preview_title {
  color: #FFF;
  font-family: Aleo;
  font-size: 80px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 892px;
}

.preview_description{
  margin-top: 46px;
  margin-bottom: 46px;
  color: #FFF;
  font-family: Aleo;
  font-size: 20px;
  font-style: italic;
  font-weight: 700;
  line-height: normal;
  width: 892px;
}

.preview_input {
  padding-top: 18px;
  width: 892px;
  height: 95px;
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.70);
}

.preview_button {
  margin-left: 310px;
  color: #FFF;
  font-family: Red Hat Text;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 14px 32px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: #0D606F;
  box-shadow: 0px 2px 3px 0px rgba(13, 96, 111, 0.16), 0px 0px 3px 0px rgba(13, 96, 111, 0.08);
}

.preview_input_description {
  margin-left: 41px;
  color: #F2785C;
  font-family: Aleo;
  font-size: 24px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
}

.steps_wrapper {
  margin: 0 auto;
  max-width: 1440px;
  padding: 80px 131px;
}

.steps_title {
  text-align: center;
}

.steps_cards {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card_item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item_text {
  margin-top: 30px;
  color: #0D606F;
  font-family: Aleo;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.destination {
  margin: 0 auto;
  max-width: 1440px;
}

.destination_title {
  text-align: center;
}

.destination_wrapper {
  position: relative;
}

.slider_item {
  width: 800px;
  height: 800px;
  position: relative;
  border-radius: 16px;
  background: #FFF;
}

.slider_item img {
  border-radius: 16px;
}

.slider {
  margin-top: 46px;
  position: absolute;
  display: flex;
  gap: 60px;
  margin-left: -540px;
}

.slider_text {
  position: absolute;
  color: #FFF;
  font-family: Red Hat Text;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 750px;
  margin-left: -780px;
  z-index: 5;
}