@import "mixins";

* {
	padding: 0px;
	margin: 0px;
	border: none;
  box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-size: 1.6rem; 
    font-family: Aleo;   
}

h1 {
  margin: 0;
  padding: 0;
  color: #FFF;
  font-family: Magra;
  white-space: pre;
  @include font($size:3.2rem, $weight:600);
}

h2 {
  color: #FFF;
  font-family: Aleo;
  @include font($size:8.0rem, $weight:700);
}

h3 {
  color: #F2785C;
  font-family: Red Hat Text;
  @include font($size:4.0rem, $weight:500);
}

h4 {
  color: #0D606F;
  font-family: Aleo;
  @include font($size:3.5rem, $weight:400);
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

li  {  
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none; 
}