
header {
    background: rgba(242, 120, 92, 0.70);
    box-shadow: 0px 4px 4px 0px rgba(13, 96, 111, 0.50);
    width: 100%;
    opacity: 70%;
  }
  
  .header_wrapper{
    margin: 0 auto;
    max-width: 1440px;
    background: url(../assets/images/HeaderBG.png);
    background-position: center top;
    background-repeat: no-repeat;
  }
  
  .header_flex {
    padding: 25px 120px 25px;
    display: flex;
    align-content: center;
    justify-content: space-between;
  }
  
  .logo {
    display: flex;
  }
  
  .logo img {
    margin-right: 6px;
  }
  
  .header_navigation {
    width: 527px;
    margin-top: 10px;
    justify-content: space-between;  
  }
  
  .header_navigation_list {
    display: flex;
    justify-content: space-between;  
  }
  
  .header_navigation_link {
    color: #FFF;
    font-family: Red Hat Text;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  
